// .logo {
//     position: relative;
//     animation: leftToRight 1.5s 1;
//     animation-direction: normal;
//     margin-left: 200px;
//     opacity: 1;
// }
  
// @keyframes leftToRight {
//     from {left: -200px;}
//     to {left: 0px;}
// }

// .progress {
//     width: 400px;
//     height: 2px;
//     background-color: #cce2ff;
//     // border-radius: 5px;
//     overflow: hidden;
//     // transition: all 0.2s;
//     margin-bottom: 5px;
// }
// .progress__fill {
//     width: 0%;
//     height: 100%;
//     background-color: #006dff;
//     transition: width 2s;
//     animation: growingWidth 2s 3;
//     animation-iteration-count: infinite;
// }

// @keyframes growingWidth {
//     from {width: 0%}
//     to {width: 100%}
// }

.offering {
    padding: 50px 235px 74px 235px;
    background-color: #e3e9e4;
    .offering-item {
        // width: 50%;
        padding: 40px;
        height: 450px;
        border-radius: 6px;
        background-color: #f6f6f6;
    }
    .offering-title {
        font-weight: bold;
        font-size: 1.6rem;
        color: #428d57;
        display: flex;
        justify-content: center;
        padding-bottom: 32px;
    }
    .offering--sub-title {
        color: #428d57;
        font-size: 1.4rem;
        padding-bottom: 20px;
    }
    .offering-box {
        margin-bottom: 15px;
        .box-icon {
            color: #428d57;
            margin-right: 15px;
        }
        .box-content {
            margin-top: 10px;
        }
        .box-title {
            font-weight: bold;
            font-size: 1rem;
            text-transform: uppercase;
        }
        .load-more {
            color: #428d57;
        }
    }
}

@media (max-width: 1024px) {
    .offering {
        .offering-item {
            width: 100%;
        }
    }
}

.corporate {
    background-color: #428d57;
    color: white;
    .corporate-title {

    }
    .corporate-content {
        display: flex;
        justify-content: center;
        .corporate-box {
            .box-icon {
                height: 96px;
            }
            .box-desc {
                
            }
        }
    }
}




  
  
  