<main class="wsc-main bg-white p-0 overflow-hidden">
    <section class="py-5" style="background-color: #F3F8FF;">

        <div class="container-fluid px-md-0 position-relative">
            <!-- 左 -->
            <div class="nav-position container text-left px-0">
                <div class="row no-gutters justify-content-center justify-content-xl-start align-items-center">
                    <div class="col-md-11 col-lg-10 col-xl-5 col-xxl-3 nav-position-left">
                        <nav id="accordion" role="tablist" class="mr-xxl-n5">
                            <div class="nav nav-tabs justify-content-between flex-column" id="nav-tab" role="tablist" style="border-bottom: 1px solid #D4D4D4;">
                                <a class="nav-item nav-link text-black bg-transparent border-0 p-0 my-4 position-relative" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="false">
                                    <div id="heading-1" class="font-size-large font-weight-bold d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1" role="tab">
                                        <span>Diagramming & Flowcharting</span>
                                        <i class="wsc-icon" data-path="https://images.edrawsoft.com/images2021/new-edrawsoft/arrow_down.svg"></i>
                                    </div>
                                    <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion">
                                        <p class="font-size-small mb-0 mr-4">Create powerful flowcharts and visuals to show clear processes that drive the better decision for your business.</p>

                                        <div class="nav-thumb mt-4 overflow-hidden d-xl-none" style="background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: 100% 100%;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                                            <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                                                <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_flowchart.svg" alt="flowchart" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link text-black bg-transparent border-0 p-0 my-4 position-relative" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">
                                    <div id="heading-2" class="font-size-large font-weight-bold d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2" role="tab">
                                        <span>Floor Plan Design</span>
                                        <i class="wsc-icon" data-path="https://images.edrawsoft.com/images2021/new-edrawsoft/arrow_down.svg"></i>
                                    </div>
                                    <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
                                        <p class="font-size-small mb-0 mr-4">Offer a flexible and easy-to-use floor planning solution to maximize your space potential for everyone.</p>

                                        <div class="nav-thumb mt-4 overflow-hidden d-xl-none" style="background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: 100% 100%;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                                            <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                                                <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_house_plan.svg" alt="house plan" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link text-black bg-transparent border-0 p-0 my-4 position-relative" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">
                                    <div id="heading-3" class="font-size-large font-weight-bold d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3" role="tab">
                                        <span>Electrical Engineering</span>
                                        <i class="wsc-icon" data-path="https://images.edrawsoft.com/images2021/new-edrawsoft/arrow_down.svg"></i>
                                    </div>
                                    <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
                                        <p class="font-size-small mb-0 mr-4">Bring clarity to a complex electrical system by providing a professional visual reference for any audience.</p>

                                        <div class="nav-thumb mt-4 overflow-hidden d-xl-none" style="background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: 100% 100%;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                                            <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                                                <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_electrical_plan.svg" alt="electrical plan" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link text-black bg-transparent border-0 p-0 my-4 position-relative" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">
                                    <div id="heading-4" class="font-size-large font-weight-bold d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4" role="tab">
                                        <span>Software & System Planning</span>
                                        <i class="wsc-icon" data-path="https://images.edrawsoft.com/images2021/new-edrawsoft/arrow_down.svg"></i>
                                    </div>
                                    <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                                        <p class="font-size-small mb-0 mr-4">Develop strong foundational systems and deliver high software quality to keep your business up and running.</p>

                                        <div class="nav-thumb mt-4 overflow-hidden d-xl-none" style="background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: 100% 100%;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                                            <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                                                <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_uml_diagram.svg" alt="UML diagram" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link text-black bg-transparent border-0 p-0 my-4 position-relative" id="nav-5-tab" data-toggle="tab" href="#nav-5" role="tab" aria-controls="nav-5" aria-selected="false">
                                    <div id="heading-5" class="font-size-large font-weight-bold d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5" role="tab">
                                        <span>Meeting & Brainstorming</span>
                                        <i class="wsc-icon" data-path="https://images.edrawsoft.com/images2021/new-edrawsoft/arrow_down.svg"></i>
                                    </div>
                                    <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion">
                                        <p class="font-size-small mb-0 mr-4">Run productive meetings and capture ideas with brainstorming to align everyone on the vision. </p>

                                        <div class="nav-thumb mt-4 overflow-hidden d-xl-none" style="background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: 100% 100%;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                                            <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                                                <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_meet_brainstorm.svg" alt="mind map" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link text-black bg-transparent border-0 p-0 my-4 position-relative" id="nav-6-tab" data-toggle="tab" href="#nav-6" role="tab" aria-controls="nav-6" aria-selected="false">
                                    <div id="heading-6" class="font-size-large font-weight-bold d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6" role="tab">
                                        <span>Org Chart Design</span>
                                        <i class="wsc-icon" data-path="https://images.edrawsoft.com/images2021/new-edrawsoft/arrow_down.svg"></i>
                                    </div>
                                    <div id="collapse-6" class="collapse" aria-labelledby="heading-6" data-parent="#accordion">
                                        <p class="font-size-small mb-0 mr-4">Build effective organizational structures and identify roles and responsibilities to achieve better team performance.
                                        </p>

                                        <div class="nav-thumb mt-4 overflow-hidden d-xl-none" style="background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: 100% 100%;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                                            <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                                                <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_org_chart.svg" alt="org chart" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link text-black bg-transparent border-0 p-0 my-4 position-relative" id="nav-7-tab" data-toggle="tab" href="#nav-7" role="tab" aria-controls="nav-7" aria-selected="false">
                                    <div id="heading-7" class="font-size-large font-weight-bold d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7" role="tab">
                                        <span>P&ID Drawing</span>
                                        <i class="wsc-icon" data-path="https://images.edrawsoft.com/images2021/new-edrawsoft/arrow_down.svg"></i>
                                    </div>
                                    <div id="collapse-7" class="collapse" aria-labelledby="heading-7" data-parent="#accordion">
                                        <p class="font-size-small mb-0 mr-4">Visualize the pipping systems and smooth the process modification to optimize your industrial solution.</p>

                                        <div class="nav-thumb mt-4 overflow-hidden d-xl-none" style="background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: 100% 100%;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                                            <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                                                <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_pid.svg" alt="P&ID" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link text-black bg-transparent border-0 p-0 my-4 position-relative" id="nav-8-tab" data-toggle="tab" href="#nav-8" role="tab" aria-controls="nav-8" aria-selected="false">
                                    <div id="heading8" class="font-size-large font-weight-bold d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8" role="tab">
                                        <span>Strategy & Project Planning</span>
                                        <i class="wsc-icon" data-path="https://images.edrawsoft.com/images2021/new-edrawsoft/arrow_down.svg"></i>
                                    </div>
                                    <div id="collapse-8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                                        <p class="font-size-small mb-0 mr-4">Help to achieve successful team outcomes with up-to-date strategy and clear visual of project process.</p>

                                        <div class="nav-thumb mt-4 overflow-hidden d-xl-none" style="background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: 100% 100%;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                                            <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                                                <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_gantt_chart.svg" alt="gantt chart" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- 右 -->
            <div class="d-xl-flex d-none justify-content-end py-5 mx-md-n4">
                <div class="tab-content overflow-hidden" id="nav-tabContent" style="max-height: 44.0625rem;background-image: url(https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/hero_swiper.svg);background-position: center top;background-size: cover;background-repeat: no-repeat;padding: 6.5rem 1.125rem 2.75rem;border-radius: .5rem;box-shadow: 0px .25rem 1rem rgba(0, 0, 0, .15);">
                    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                        <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                            <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_flowchart.svg" alt="flowchart" class="img-fluid">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                        <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                            <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_house_plan.svg" alt="house plan" class="img-fluid">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                        <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                            <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_electrical_plan.svg" alt="electrical plan" class="img-fluid">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
                        <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                            <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_uml_diagram.svg" alt="UML diagram" class="img-fluid">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
                        <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                            <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_meet_brainstorm.svg" alt="mind map" class="img-fluid">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
                        <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                            <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_org_chart.svg" alt="org chart" class="img-fluid">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
                        <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                            <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_pid.svg" alt="P&ID" class="img-fluid">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
                        <div class="bg-white" style="border: 1px solid #D4D4D4;border-radius: .375rem;">
                            <img src="https://images.edrawsoft.com/images2021/new-edrawsoft/product/max/slide_gantt_chart.svg" alt="gantt chart" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </section>

    

   
</main>