<div class="footer">
    <div class="footer-header container">
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 footer-header-item">
                <img class="title" src="/assets/images/logo_black.png" alt="">
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 footer-header-item">
                <div class="title" routerLink="/platforms">Platform</div>
                <div>Carbon Transparency</div>
                <div>Energy Insight</div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 footer-header-item">
                <div class="title">Solutions</div>
                <div>Emission Data Automation</div>
                <div>Carbon Impact Modeling</div>
                <div>Carbon Intensity Diagnostic</div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 footer-header-item">
                <div class="title">Impacts</div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 footer-header-item">
                <div class="title">Resources</div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 footer-header-item">
                <div class="title">Connect</div>
                <div>+1 (408) 859-2796</div>
                <div>info@atomiton.com</div>
                <div class="d-flex flex-wrap">
                    <i class="fab fa-facebook-square icon" ></i>
                    <i class="fab fa-instagram icon" ></i>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" version="1.0" width="28px" 
                        viewBox="0 0 256.000000 256.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)" fill="#000000"
                            stroke="none">
                            <path
                                d="M138 2540 c-46 -14 -85 -48 -107 -94 l-21 -43 2 -1134 3 -1134 23 -37 c13 -20 40 -47 60 -60 l37 -23 1145 0 1145 0 37 23 c20 13 47 40 60 60 l23 37 3 1134 2 1134 -21 44 c-13 27 -37 55 -62 71 l-41 27 -1130 2 c-622 1 -1143 -2 -1158 -7z m540 -362 c77 -37 131 -138 118 -221 -30 -183 -238 -259 -371 -136 -72 67 -93 163 -54 249 57 125 181 169 307 108z m1195 -563 c121 -32 199 -94 248 -198 51 -111 59 -196 59 -639 l0 -398 -192 2 -193 3 -5 385 c-5 405 -7 419 -53 468 -36 39 -72 52 -140 52 -93 0 -143 -29 -182 -105 l-30 -59 -3 -373 -3 -373 -192 2 -192 3 0 605 0 605 182 3 182 2 3 -81 3 -82 28 41 c37 53 118 108 193 132 73 23 207 26 287 5z m-1108 -625 l0 -605 -192 -3 -193 -2 0 610 0 610 193 -2 192 -3 0 -605z" />
                        </g>
                    </svg>
                    <i class="fab fa-youtube icon" ></i>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sub ">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">@2022 Atomiton, inc. All Rights reserved</div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="d-flex flex-wrap justify-content-end">
                        <div class="footer-sub-item">Cookies</div>
                        <div class="footer-sub-item">Privacy</div>
                        <div class="footer-sub-item">License</div>
                        <div class="footer-sub-item">Terms</div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- <div>
            @2022 Atomiton, inc. All Rights reserved
        </div>
        <div class="d-flex flex-wrap">
            <div class="footer-sub-item">Cookies</div>
            <div class="footer-sub-item">Privacy</div>
            <div class="footer-sub-item">License</div>
            <div class="footer-sub-item">Terms</div>
        </div> -->
    </div>
</div>