/* You can add global styles to this file, and also import other style files */
@import "scss/main";

a:hover {
    color: #428d57;
    text-decoration: none !important;
}

$active-color: #428d57;

.link-active {
  color: $active-color !important;

  .ic-svg {
    fill: $active-color;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
