
.body-bg {
    background-image: url("/assets/images/Home/Group 408.jpg");
    color: white;
    // background-size: auto 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    .body-bg_title {
        font-size: 35px;
        font-weight: 600;
        font-family: sans-serif;
    }
    button {
        background-color: #f4ba48;
        color: white;
        width: 155px;
        height: 42px;
        font-size: 14px;
        border-radius: 3px;
    }
}
.body-book {
    // background-color: #f6f6f6;
    width: 100%;
    // height: 1;
    // padding: 0 235px;
    .body-book-first {
        height: 600px;
        padding: 50px 218px;
        &_title {
            color: #428d57;
            font-size: 35px;
            font-weight: 600;
            font-family: sans-serif;
        }
        &_sub-title {
            color: black;
        }
    }
}

.body-card {
    background-color: #f6f6f6;
    width: 100%;
    height: 500px;
    // box-shadow: 0px 0px 9px 0px #0000002e;
    padding: 50px 218px;
    .carousel-caption {
         color: black;
    }
    .topic-1 {
        background-color: #344457;
        transition: transform .2s;
        color: white;
    }
    .topic-2 {
        background-color: #344457;
        transition: transform .2s;
        color: white;
    }
    .topic-3 {
        background-color: #344457;
        transition: transform .2s;
        color: white;
    }
    .topic-4 {
        background-color: #344457;
        transition: transform .2s;
        color: white;
    }
    .topic-1:hover {
        z-index: 999;
        transform: scale(1.05); 
        transform-origin: bottom right;
        background-color: #e5a511;
        color: #344457;
    }
    .topic-2:hover {
        z-index: 999;
        transform: scale(1.05); 
        transform-origin: bottom left;
        background-color: #e5a511;
        color: #344457;
    }
    .topic-3:hover {
        z-index: 999;
        transform: scale(1.05); 
        transform-origin: top right;
        background-color: #e5a511;
        color: #344457;
    }
    .topic-4:hover {
        z-index: 999;
        transform: scale(1.05); 
        transform-origin: top left;
        background-color: #e5a511;
        color: #344457;
    }
}

.carousel-indicators li {
    background-color: #a9bac7;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 12px;
    opacity: unset;
}

.carousel-indicators {
    justify-content: start;
    // padding: 0px 218px;
    margin-right: 0;
    margin-left: 0;
    .active {
        background-color: #428d57;
        width: 22px;
        height: 8px;
        margin-right: 15px;
        margin-left: 15px;
        opacity: unset;
        border-radius: 0;
        position: relative;
    }
    .active::before {
        content: "";
        width: 10px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        background-color: #428d57;
    }
    .active::after {
        content: "";
        width: 10px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        right: -5px;
        background-color: #428d57;
    }
}

.carousel-caption {
    position: unset;
    // padding: 0 218px 0 218px;
    .carousel-caption_title {
        color: #428d57;
        font-size: 23px;
        font-weight: bold;
    }
    .carousel-caption_sub-title {
        font-weight: bold;
    }
    .carousel-caption_link {
        color: #428d57;
    }
}
.carousel-control-prev {
    width: 7%;
    .fal {
        color: #374659;
        font-size: 40px;
    }
}
.carousel-control-next {
    width: 7%;
    .fal {
        color: #374659;
        font-size: 40px;
    }
}





.highway-slider {
	display:flex;
	justify-content:center;
	width:100%;
	height:100px;
    background-color: #428d57;
    .highway-barrier {
        overflow:hidden;
		position:relative;
        width: 100%;
        background-color: #428d57;

        background:#428d57;
        // box-shadow:0 3px 10px -3px rgba(0,0,0,0.3);
        &::before,
        &::after {
            content: " ";
            position:absolute;
            z-index:9;
            width:180px;
            height:100%;	
        }
        // &::before {
        // 	top:0;left:0;
        // 	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        // }
        // &::after {
        // 	top:0;right:0;
        // 	background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        // }
        ul.highway-lane {
            width:calc(180px * 24);
            li.highway-car {
                width:180px;
                animation:translateinfinite 25s linear infinite;
                span.fab {
                    font-size:65px;
                }
            }
        }
    }
	ul.highway-lane {
		display:flex;
		height:100%;
		li.highway-car {
			flex:1;
			display:flex;
			justify-content:center;
			align-items:center;
			background:#428d57;
			color:white;
		}
	}
}

@keyframes translatestf {
	0% { transform:translateX(100%);  }
	100% { transform:translateX(-500%);  }
}


@keyframes translateinfinite {
	100% { transform:translateX(calc(-180px * 12));  }
}

.contact {
    background-image: url("/assets/images/Home/Group 510.jpg");
    // height: 500px;
    background-repeat: no-repeat;
    .contact-content {
        padding-top: 50px;
    }
    .title {
        color: white;
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 50px;
    }
    .contact-form {
        background-color: white;
        padding: 50px 40px;
        box-shadow: 0px 3px 16px #0000001F;
        border-radius: 8px;
        margin-bottom: 50px;
        .item {
            margin-bottom: 20px;
        }
        .input-filed {
            position: relative;
            input {
                width: 100%;
                background-color: white;
                border: 1px solid #A9BAC7;
                border-radius: 3px;
                padding: 10px 15px;
                outline: none;
                font-size: 14px;
                color: black;
                height: 36px;
            }
            input:not(:placeholder-shown) + .label,
            input:focus + .label {
                display: none;
            }
            .label {
                position: absolute;
                top: 6px;
                left: 16px;
                color: #A9BAC7;
                user-select: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .label::after {
                content: '*';
                color: #E13D27;
                padding-left: 3px;
            }
        }
        textarea {
            width: 100%;
            background-color: white;
            border: 1px solid #A9BAC7;
            border-radius: 3px;
            padding: 10px 15px;
            outline: none;
            font-size: 14px;
            color: black;
            resize: none;
            // height: 36px;
        }
        button {
            border-radius: 3px;
            overflow: hidden;
            min-width: 120px;
            border: 1px solid transparent;
            background-color: #428D57;
            color: white;
            height: 36px;
            font-size: 14px;
            cursor: pointer;
            width: 100%;
        }
    }
}



// .logo {
//     position: relative;
//     animation: leftToRight 1.5s 1;
//     animation-direction: normal;
//     margin-left: 200px;
//     opacity: 1;
// }
  
// @keyframes leftToRight {
//     from {left: -200px;}
//     to {left: 0px;}
// }

// .progress {
//     width: 400px;
//     height: 2px;
//     background-color: #cce2ff;
//     // border-radius: 5px;
//     overflow: hidden;
//     // transition: all 0.2s;
//     margin-bottom: 5px;
// }
// .progress__fill {
//     width: 0%;
//     height: 100%;
//     background-color: #006dff;
//     transition: width 2s;
//     animation: growingWidth 2s 3;
//     animation-iteration-count: infinite;
// }

// @keyframes growingWidth {
//     from {width: 0%}
//     to {width: 100%}
// }

.offering {
    padding: 50px 218px 74px 218px;
    // background-color: #e3e9e4;
    .offering-item {
        // width: 50%;
        padding: 40px;
        height: 500px;
        border-radius: 14px;
        background-color: #f6f6f6;
    }
    .offering-title {
        font-weight: bold;
        font-size: 1.6rem;
        color: #428d57;
        // display: flex;
        // justify-content: center;
        padding-bottom: 32px;
    }
    .offering--sub-title {
        color: #428d57;
        font-size: 1.4rem;
        // padding-bottom: 20px;
    }
    .offering-box {
        margin-bottom: 15px;
        .box-icon {
            color: #428d57;
            margin-right: 15px;
        }
        .box-content {
            margin-top: 10px;
        }
        .box-title {
            font-weight: bold;
            font-size: 1rem;
            text-transform: uppercase;
        }
        .load-more {
            color: #428d57;
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    .offering {
        .offering-item {
            width: 100%;
        }
    }
}

.corporate {
    // background-color: #428d57;
    background-image: url("/assets/images/Home/Group 509.jpg");


    color: white;
    padding: 46px 0px 0px 0px;
    .corporate-title {
        font-size: 26px;
        font-weight: 600;
        padding-bottom: 26px;
    }
    .corporate-content {
        .corporate-box {
            padding-bottom: 46px;
            text-align: center;
            .box-icon {
                height: 96px;
            }
            .box-desc {
                margin-top: 25px;
            }
        }
    }
}




  
  
  