<div class="header">
    <div class="d-flex justify-content-between align-items-center">
        <img class="logo" src="/assets/images/logo_black.png" alt="">
        <div class="d-flex justify-content-between">
            <a class="px-4 font-weight-bold" routerLink="/home" routerLinkActive="link-active">HOME</a>
            <a class="px-4 font-weight-bold" routerLinkActive="link-active">PLATFORM</a>
            <a class="px-4 font-weight-bold" routerLinkActive="link-active">SOLUTIONS</a>
            <a class="px-4 font-weight-bold" routerLinkActive="link-active">IMPACTS</a>
            <a class="px-4 font-weight-bold" routerLinkActive="link-active">RESOURCES</a>
        </div>
    </div>
</div>
<div class="body-bg">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="body-title">Sustainability Impact Solutions </div>
        <div class="body-title">for Achieving Carbon Neutral Productions</div>
        <div class="d-flex flex-column justify-content-center align-items-center py-4">
            <div>We help companies achieve sustainability targets</div>
            <div>by discovering insights from operational and emissions data</div>
        </div>
        <button type="button" class="btn my-1">BOOK A DEMO</button>
    </div>
</div>
<div class="body-brand">
    <div class="d-flex justify-content-between align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="100px" height="100px" fill="white"
            viewBox="0 0 274.000000 184.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,184.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
            </g>
        </svg>
    </div>
</div>