<div class="header">
    <div class="d-flex justify-content-between align-items-center">
        <img class="logo" src="/assets/images/logo_black.png" routerLink="#" alt="">
        <div class="d-flex justify-content-between">
            <a class="px-4" routerLink="/home" routerLinkActive="link-active">Home</a>
            <a class="px-4" routerLink="/platforms" routerLinkActive="link-active">Platform</a>
            <a class="px-4" routerLink="/solutions" routerLinkActive="link-active">Solutions</a>
            <a class="px-4" routerLinkActive="link-active">Impacts</a>
            <a class="px-4" routerLinkActive="link-active">Resources</a>
        </div>
    </div>
</div>